body { 
	background: #f4f4f4;
	color: #3a3a3a;
}

/* STRUCTURE */
#pagewrap {
	margin:auto;
	align-self: center;
	align-content: center;
	padding: 5px;
	width: 85%;
	max-width: 1600px;
}

header {
	align-self: left;
	padding: 0px 0px 0px 20px;  
}

.TopToolbar {
	margin: -10 auto;
	align-self: right;
	width : 100%;
	padding: 0px 20px 10px 20px;
	text-align: right;
	font-size: 140%;
}

.Machine{
	margin:30px auto;
	align-self: center;
	text-align: center;
	width: 90%;
	max-width: 600px;
}

.MachineFieldsTool{
	align-self: flex-end;
	text-align: right;
	width: 100%;
	padding: 0px 10px 0px 0px;
}

.MachineInfo ,.MachineFields {
	margin:10px auto;
	padding: 5px 5px 5px 5px ;
	align-self: center;
	width: 100%;
}

.MachineInfo td,.MachineFields td {
	padding: 5px 5px 5px 5px;
}

.fieldnames {
	width: 30%;
	text-align: center;
}

.submitbtn {
	margin: 40px 10px 10px 10px;
	height:60px;
	width:30%;
	max-width: 200px;
}

.footer {
	margin:auto;
	align-self: center;
	/* clear: both; */
	width: 100%;
    padding: 0px 0px 20px 0px ;
	text-align: center;
	font-size: 90%;
	color: #818181;
}

.footer hr{
	border: none;
	height: 1px;
	color:#d6d6d6;
	background-color: #d6d6d6;
}

/* Machine Information */
.masonry {
    width: 100%;
    display:flex;
    flex-flow: row wrap;
    column-count: 3;
}

.MachineCard {
	flex:auto;
	width: 33.3%;
	max-width: 33.3%;
}

/* .MachineCard a:hover, .MachineCard a:active, .MachineCard a:visited {
	text-decoration:none;
} */

.Machine-container{
	background:#fff;
	margin: 10px;
	padding: 20px 20px 10px 20px;
	color: #565656;
	box-shadow: 0px 10px 20px #dedede;
	border: solid 1px rgb(185, 185, 185);
}

.Machine-container h2{
	word-break: break-all;
	margin: 0px;
	padding: 0px;
}

.Machine-container p{
	margin: 0px;
	padding: 0px;
}


.Machine-container .MachineName{
	padding: 0px;
}

.Machine-container .MachineInfo{
	/* font-size: 120%; */
	margin-top: 10px;
	padding: 5px 5px 5px 5px;
	align-self: start;	
}

.MachineInfoItems{
	margin: 0px 30px 0px 0px;
	display:inline-block;
}

.MachineInfoItems > .MachineInfoValue{
	font-size: 130%;
}

.MachineCardTool {
	font-size: 90%;
	margin: 5px auto;
	align-self: flex-end;
	text-align: right;
	padding: 5px 0px 5px 0px;
}

.UpdateTime {
	color: #bebebe;
	padding: 5px 15px 5px 0px;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 1200px or less */
@media screen and (max-width: 1200px) {
	#pagewrap {
		width: 90%;
	}

	.MachineCard {
		width: 50%;
		max-width: 50%;
	}
}

/* for 940px or less */
@media screen and (max-width: 880px) {
	#pagewrap {
		width: 100%;
	}

	.MachineCard {
		margin: 5px 5px 5px 5px;
		width: 100%;
		max-width: 100%;
	}

}
